@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.sticky-filters {
    position: sticky;
    top: 68px;
    z-index: 998;
}